.error{
    color: red;
    background: #F08080;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom:10px
}

.alert{
    color: green;
    background: #90EE90;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom:10px
}